.wrapper {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'ProximaNova', sans-serif;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    + .wrapper {
        margin-left: 14px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

// Button Types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgb(22 24 35 / 12%);

    &:hover {
        border-color: rgb(22 24 35 / 20%);
        background-color: rgb(112 112 112 / 5%);
    }
}
.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgb(0 0 0 / 6%), rgb(0 0 0 / 6%)), rgb(254 44 85);
    }
}
.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgb(254 44 85 / 6%);
    }
}
.bl_wh {
    color: rgb(22 24 35);
    border-color: rgb(22 24 35 / 12%);

    &:hover {
        background-color: rgb(22 24 35 / 3%);
    }
}

// Button sizes
.small {
    font-size: 1.4rem;
    font-weight: 600;
    min-width: 88px;
    padding: 4px 16px;
}
.medium {
    font-size: 1.4rem;
    font-weight: 600;
    min-width: 88px;
    padding: 7px 30px;
}
.large {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 140px;
    padding: 14px 16px;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
.icon {
    display: block;
    width: 20px;
    font-size: 1.8rem;
    text-align: center;
}
