.wrapper {
    border-top: 1px solid #ededee;
}
.label {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px 0;
    opacity: #161823bf;
}
.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-left: -8px;
    cursor: grab;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.item-info {
    flex: 1;
    margin-left: 12px;
}
.nickname {
    font-size: 1.6rem;
    line-height: 1;
    color: #161823;
}
.check {
    font-size: 1.4rem;
    margin-left: 4px;
    color: #20d5ec;
}
.fullname {
    font-size: 1.2rem;
    opacity: #161823bf;
}

.more-btn {
    display: inline-block;
    color: var(--primary);
    font-size: 1.4rem;
    padding: 8px 0;
    font-weight: 600;
    cursor: grab;
}
