.menu-item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px;
    margin-left: -8px;
    // color: var(--text-color);
    border-radius: 4px;
    transition: background-color ease-in-out 0.2s;

    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }
        .icon-active {
            display: flex;
        }
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.title {
    margin-left: 10px;
}
.icon {
    display: flex;
}
.icon-active {
    display: none;
}
