//menu
.menu-list {
    width: 224px;
    position: relative;

    &::before {
        content: '';
        border-width: 10px 14px;
        border-style: solid;
        border-color: transparent transparent var(--white) transparent;
        position: absolute;
        right: 14px;
        top: -18px;
    }

    .menu-item {
        margin-left: 0;
        line-height: 1.8rem;
    }
}
.menu-popper {
    padding: 8px 0;
}
.menu-body {
    overflow-y: overlay;
}
.menu-item {
    width: 100%;
    padding: 11px 16px;
    border-radius: 0;
    justify-content: flex-start;
    font-weight: 700;

    &.separate {
        border-top: 1px solid rgb(22 24 35 / 12%);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}
.back-btn {
    height: 50px;
    width: 50px;
    background-color: transparent;
}
.header-title {
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
