.wrapper {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    cursor: grab;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    flex: 1;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}
.name {
    font-size: 1.6rem;
    font-weight: 600;
}
.check {
    margin-left: 4px;
    color: #20d5ec;
}
.username {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}
