.wrapper {
    --search-height: 46px;
    --search-btn-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
}
.content {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Actions
.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}
.more-btn {
    font-size: 2.8rem;
    margin-left: 20px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    background-color: transparent;
}
.actions-btn {
    position: relative;
    display: flex;
    font-size: 2.6rem;
    padding: 4px 10px;
    background-color: transparent;

    &:nth-child(3):after {
        content: '12';
        font-size: 1rem;
        color: rgb(255 255 255);
        background-color: var(--primary);
        padding: 2px 6px;
        border-radius: 9999px;
        position: absolute;
        top: 2px;
        right: -2px;
    }
}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
    cursor: grab;
}
