.search,
.search-result {
    width: 361px;
}
.search {
    position: relative;
    height: var(--search-height);
    border: 1.5px solid transparent;
    background-color: #f1f1f2;
    display: flex;
    align-items: center;
    border-radius: 92px;
    padding: 0 2px 0 16px;
    overflow: hidden;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        font-family: var(--font-family);
        caret-color: var(--primary);
        cursor: text;
        background-color: transparent;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        right: var(--search-btn-width);
        height: calc(var(--search-height) - 18px);
        width: 1px;
        background: rgba(22, 24, 35, 0.183);
    }

    &:focus-within {
        border-color: rgb(22 24 35 / 20%);
    }
}
.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(22 24 35 / 50%);
}
.clear,
.loading {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translatey(-50%);
    color: rgba(22, 24, 35, 0.34);
}
.loading {
    animation: spinner 1s linear infinite;
}
@keyframes spinner {
    to {
        transform: translatey(-50%) rotate(360deg);
    }
}
.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--search-btn-width);
    height: 100%;
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background: rgb(22 24 35 / 3%);
        cursor: grab;
    }

    &:active {
        background: rgb(22 24 35 / 7%);
    }
}
