@import 'normalize.css';
@import url('https://use.typekit.net/nko5fvg.css');

:root {
    --primary: #ff3b5c;
    --black: #000;
    --text-color: #333;

    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 65.5%;
}

body {
    font-family: ibm-plex-sans, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}
button, input, [tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}