@import 'normalize.css';
@import url('https://use.typekit.net/nko5fvg.css');

:root {
    --primary: #ff3b5c;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    font-family: ibm-plex-sans, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}
