.wrapper {
    padding: 20px;
    width: 320px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.avatar {
    height: 44px;
    width: 44px;
    border-radius: 50%;
}
.nickname {
    font-size: 1.8rem;
    color: var(--text-color);
    line-height: 1;
}
.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 6px;
}
.fullname {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 8px;
}
.analytic {
    font-size: 1.7rem;
    color: var(--text-color);
}
.value {
    margin-right: 6px;
}
.label:not(.label:last-child) {
    margin-right: 14px;
}
